<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Zay</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../../stylesheet/stylesheet.css">
    <link rel="stylesheet" href="../../../stylesheet/bootstrap.min.css">
    <link rel="stylesheet" href="../../../stylesheet/fontawesome.css">
    <link rel="stylesheet" href="../../../stylesheet/fontawesome.min.css">
    <link rel="stylesheet" href="../../../stylesheet/slick-theme.css">
    <link rel="stylesheet" href="../../../stylesheet/slick-theme.min.css">
    <!-- <link rel="stylesheet" href="../../../stylesheet/style.css"> -->
    <link rel="stylesheet" href="../../../stylesheet/templatemo.css">
    <link rel="stylesheet" href="../../../stylesheet/templatemo.min.css">
    <!-- <link rel="stylesheet" href="../../../stylesheet/custom.css"> -->
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

    
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>

    <script src="https://kit.fontawesome.com/9b95be1df5.js" crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
  
  </head>
  <body>
   