<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Zay</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../../stylesheet/stylesheet.css">
    <!-- <link rel="stylesheet" href="../../../stylesheet/bootstrap.min.css"> -->
    <link rel="stylesheet" href="../../../stylesheet/fontawesome.css">
    <!-- <link rel="stylesheet" href="../../../stylesheet/fontawesome.min.css"> -->
    <!-- <link rel="stylesheet" href="../../../stylesheet/slick-theme.css"> -->
    <!-- <link rel="stylesheet" href="../../../stylesheet/slick-theme.min.css"> -->
    <!-- <link rel="stylesheet" href="../../../stylesheet/style.css"> -->
    <!-- <link rel="stylesheet" href="../../../stylesheet/templatemo.css">
    <link rel="stylesheet" href="../../../stylesheet/templatemo.min.css">
    <link rel="stylesheet" href="../../../stylesheet/custom.css"> -->

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

    <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<!-- 
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

  
  </head>
  <body>
   